<div class="header">
  <div class="header-logo">
    CCC ブロックチェーン・仮想通貨イベントサイト CRYPTO CURRENCY CONFERENCE
  </div>
  <div class="header-list">
    <ul>
      <li><a href="">ホーム</a></li>
      <li>イベント</li>
      <li>タグ</li>
      <li><a href="/share">紹介について</a></li>
      <li>イベント作成</li>
      <li>言語</li>
      <li>通知</li>
      <li>アカウント</li>
    </ul>
  </div>
</div>
